USE [master]
GO
/****** Object:  Database [pizzaa]    Script Date: 06/12/2023 09:55:52 ******/
CREATE DATABASE [pizzaa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pizzaa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\pizzaa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pizzaa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\pizzaa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pizzaa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pizzaa]
GO
/****** Object:  Table [dbo].[endereco]    Script Date: 06/12/2023 09:55:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[endereco](
	[bairro] [varchar](max) NOT NULL,
	[rua] [varchar](max) NOT NULL,
	[numero_casa] [varchar](max) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 06/12/2023 09:55:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](max) NOT NULL,
	[email] [varchar](max) NOT NULL,
	[numero] [varchar](max) NOT NULL,
	[data_de_nacimento] [datetime] NOT NULL,
	[senha] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
